# Servidor
PORT=3000
NODE_ENV=development
# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=triunfa_beca
DB_USER=triunfa_user
DB_PASSWORD=triunfa_pass_2026
# JWT
JWT_SECRET=6a66fadc9cd1581d4aa837ee9c063160e6c574514b4d4e0f7f6f89e9866e7f87
JWT_EXPIRES_IN=8h
# CORS - Orígenes permitidos (separados por coma)
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:8080,http://localhost:8081 

